body {
  font-family: "Courier New", Courier, monospace;
  color: antiquewhite;
  background-color: rgb(21, 67, 21);
  background-image: url("https://i.pinimg.com/736x/b5/59/6f/b5596f4e41109de59ce7a7ef7cf2f613.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  margin-top: 20px;
  text-align: center;
}
.title {
  text-align: center;
  font-size: xx-large;
}

.player1Points,
.player2Points {
  margin-top: 50px;
  font-size: x-large;
}

.pointsTrack {
  display: flex;
  justify-content: space-between;
}

.container {
  border: solid black;

  margin: 1em;
  display: flex;
  flex-wrap: wrap;
}
.square {
  border: solid black;
  height: 90px;
  width: 90px;
}
.bucket {
  display: flex;
  flex-direction: column;
  border: solid black;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  background-image: url("https://st.depositphotos.com/1126698/2543/i/450/depositphotos_25436605-Wooden-background---square-format.jpg");
}
.rock1,
.rock2,
.rock3 {
  border: solid black;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.rock4,
.rock5,
.rock6 {
  border: solid black;
  height: 60px;
  width: 60px;
}

.rock1:hover,
.rock2:hover,
.rock3:hover,
.rock4:hover,
.rock5:hover,
.rock6:hover {
  cursor: pointer;
}

.rock1 {
  background-color: rgb(120, 36, 36);
}
.rock2 {
  background-color: rgb(38, 38, 121);
}
.rock3 {
  background-color: black;
}

.rock4 {
  background-color: rgb(120, 36, 36);
}
.rock5 {
  background-color: rgb(38, 38, 121);
}
.rock6 {
  background-color: black;
}

.rocks {
  margin-left: 30%;
  margin-top: 30%;
}

.gameScreen {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.tishTishaBoard {
  background-image: url("https://www.freeiconspng.com/thumbs/grid-png/graph-paper-grid-png-4.png");
  display: grid;
  grid-template-columns: repeat(3, 200px);
  width: 600px;
  height: 600px;
}
.tishTishaBox {
  border: solid black 2px;
}

.tishTishaBox :hover {
  cursor: pointer;
}

.playButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.playerBuutons {
  background-color: rgba(141, 84, 10, 0.347);
  border-radius: 50%;
  font-size: large;
  font-weight: 700;
  height: 100px;
}

.quit {
  background-color: rgb(138, 28, 28);
  border-radius: 50%;
  font-size: large;
  font-weight: 700;
  height: 100px;
}

.restartButton {
  display: none;
  position: absolute;
  padding: 2rem;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(143, 83, 4);
  background-image: url("https://st.depositphotos.com/1126698/2543/i/450/depositphotos_25436605-Wooden-background---square-format.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  font-size: x-large;
  font-weight: 700;
}

button:hover {
  /* background-color: rgb(143, 83, 4); */
  background-image: url("https://st.depositphotos.com/1126698/2543/i/450/depositphotos_25436605-Wooden-background---square-format.jpg");
  cursor: pointer;
}

.rounds {
  margin-top: 70px;
  font-size: large;
}

.gameUpdate {
  display: none;
  color: black;
  font-size: x-large;
  text-align: center;
  padding-top: 10px;
  font-weight: 600;
  border-radius: 20%;
  background-color: rgb(143, 83, 4);
  background-image: url("https://st.depositphotos.com/1126698/2543/i/450/depositphotos_25436605-Wooden-background---square-format.jpg");
  height: 100px;
  width: 300px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.instructions {
  display: block;
  color: black;
  font-size: x-large;
  text-align: left;
  font-weight: 600;
  border-radius: 20%;
  background-color: rgb(143, 83, 4);
  background-image: url("https://st.depositphotos.com/1126698/2543/i/450/depositphotos_25436605-Wooden-background---square-format.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 500px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

strong {
  font-weight: 900;
}

#gameRules {
  display: block;
  padding-left: 45px;
  padding-top: 70px;
}

#gameInstructions {
  padding-top: 40px;
  padding-left: 50px;
  display: block;
}

.playersName {
  text-align: center;
}
