.title {
  text-align: center;
}

.points {
  margin-top: 50px;
}
.tishTishaBoard {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  width: 600px;
  height: 600px;
  margin-left: 40%;
  margin-top: 5%;
  /* position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.tishTishaBox {
  border: solid black 2px;
}

.rocks {
  display: block;
  /* position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
